.results {
  padding: 50px;
  display: flex;
  justify-content: center;

  @include mobile {
    padding: 50px 25px;
  }

  h2 {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .inner-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .league-results {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .submit-predictions {
    height: 80px;
    width: 300px;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: $navy;
    color: white;
    cursor: pointer;
    margin: 25px;

    @include mobile {
      height: 60px;
      width: 250px;
      font-size: 20px;
    }
  }
}

.results.dark {
  background-color: $green;

  h2 {
    color: white;
  }

  .submit-predictions {
    background-color: white;
    color: $green;
  }
}

.results.light {
  background-color: $light-grey;
}
