.league-standings {
  display: flex;
  flex-direction: column;
  width: 100%;

  .table-row {
    width: 100%;
    display: flex;
    padding: 7px 0px;
    font-size: 24px;
    text-align: center;

    @include mobile {
      font-size: 18px;
    }

    .column {
      flex: 1;
      padding: 15px;
      word-wrap: anywhere;

      @include mobile {
        padding: 15px 8px;
      }
    }
  }

  .table-row.small {
    font-size: 20px;

    .column {
      padding: 8px;
    }
  }

  .table-row:nth-child(2n) {
    background-color: $yellow;
  }

  .table-row:nth-child(2n-1) {
    background-color: $light-grey;
  }

  .table-row.user {
    color: white;
    background-color: $green;
    font-weight: bold;
  }

  .table-row:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .table-row:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
