.league-table {
  display: flex;
  flex-direction: column;
  width: 800px;
  color: $green;
  border-radius: 20px;
  margin: 50px;
  text-align: center;
  border: 5px solid white;

  .table-header,
  .table-row {
    width: 100%;
    display: flex;
    padding: 7px 0px;

    .column {
      flex: 1;
    }

    .column.team {
      flex: 4;
    }
  }

  .table-header {
    color: white;
    font-weight: bold;
    background-color: $green;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .table-row:nth-child(2n) {
    background-color: $yellow;
  }

  .table-row:nth-child(2n-1) {
    background-color: white;
  }

  .table-row:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

.league-table.light {
  color: white;
  border: 5px solid $navy;

  .table-header {
    color: black;
    background-color: white;
  }

  .table-row:nth-child(2n) {
    background-color: $green;
  }

  .table-row:nth-child(2n-1) {
    background-color: $navy;
  }
}

.results {
  background-color: $green;
  padding: 50px;
}
