.login-main {
  background-image: $white;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  @include desktop {
    height: 100vh;
    background-image: $green-gradient;
  }

  .login-container {
    background-color: $white;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 144px);

    @include desktop {
      width: 600px;
      box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.5);
      margin: 0px auto;
      min-height: 0px;
    }

    .login-content {
      padding: 20px 40px;
      flex: 1;
      color: $navy;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: 36px;
      }

      h3 {
        font-weight: 400;
      }

      form {
        display: flex;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;

        input[type="submit"] {
          padding: 20px 100px;
          margin: 10px;
          background-color: $green;
          color: $white;
          border-radius: 20px;
          border: none;
          font-size: 20px;
          cursor: pointer;
        }

        .terms-and-conditions {
          margin: 15px 0px !important;
        }

        .input-wrapper {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          margin: 0px 10px;

          input[type="text"],
          input[type="password"],
          input[type="email"] {
            border-radius: 10px;
            height: 50px;
            margin: 20px;
            width: 100%;
            background-color: $light-grey;
            color: $navy;
            font-size: 20px;
            text-align: center;
            border: 2px solid $white;
          }

          p.error {
            position: absolute;
            color: $red;
            top: 65px;
          }

          input.error {
            border-color: $red;
          }

          label {
            display: flex;
            align-items: center;
            font-weight: 400;
            margin-bottom: 0px;

            input {
              height: 20px;
              width: 20px;
              margin-right: -27px;
              min-width: 20px;
            }

            span {
              height: 30px;
              width: 30px;
              background-color: $light-grey;
              border: 2px solid $light-grey;
              display: inline-block;
              position: relative;
              color: $green;
              margin-right: 15px;
              border-radius: 6px;
              min-width: 30px;
            }

            [type="checkbox"]:checked + span:before {
              content: "\2714";
              position: absolute;
              top: -3px;
              left: 6px;
              font-size: 30px;
              border-radius: 6px;
            }

            a {
              margin: 0 4px;
              font-size: 16px;
            }
          }
        }

        .input-wrapper.half {
          @include desktop {
            width: calc(50% - 20px);
          }
        }
      }

      .break {
        width: 100%;
        margin: 20px 0px;
        height: 1px;
        background-color: $dark-grey;
      }

      a {
        margin: 10px;
        font-size: 18px;
        text-decoration: underline;
        color: $navy;
        text-decoration-color: $navy;
      }
    }

    .bottom {
      background-color: $navy;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: underline;
        text-decoration-color: $white;
      }

      p {
        font-size: 20px;
        text-align: center;
        color: $white;
      }
    }
  }
}
