.response-popup-outer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba($color: black, $alpha: 0.6);
  display: flex;
  justify-content: center;
  align-items: center;

  .response-popup-inner {
    background-color: white;
    padding: 40px 30px;
    border-radius: 10px;

    .error,
    .success {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 40px;
        width: 40px;
        margin-right: 20px;
      }

      p {
        font-size: 18px;
        margin: 10px;
      }
    }

    .error {
      color: $red;
    }

    .success {
      color: $green;
    }
  }
}
